.about1 {
    height: 880px;
    width: 780px;
    background-color: whitesmoke;
    position: absolute;

    margin-top: 1680px;
    margin-left: -1225px;

}
.img1 {
    background-image: url('../../Images//elementor1.png');
    height: 500px;
    width: 500px;
    position: absolute;
    display: block;
    opacity: .05;
    margin-top: 250px;
}