/*
.front_page {
    top: 0;
    align-items: center;
    height: 800px;
    width: 100%;
    

}
*/
.home1 {
    height: 3000px;
    width: 100%;

}

.front_page::before {
    content: "";
    background-image: url(../../Images/itsolution.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    filter: brightness(50%);

}

.text1 {
    transform: translateY(-200px);
    animation: slideUp 1s ease-in-out forwards 1s;
}

@keyframes slideUp {
    0% {
        transform: translateY(-200px);

    }

    100% {
        transform: translateY(-100px);
    }
}

.text2 {
    transform: translateX(100px);
    animation: slideRight 1s ease-in-out forwards 1s;
}

@keyframes slideRight {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
    }
}

.button1 {
    transform: translateY(100px);
    animation: slideBottom 1s ease-in-out forwards 1s;
}

@keyframes slideBottom {
    0% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }
}

.button1 {
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: white;
    padding: 20px 40px;
    background: rgb(172, 173, 173);
    margin-left: -400px;
    margin-top: 70px;
    display: block;
    text-decoration: none;
    z-index: 1;
}

.button1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #cf798d;
    z-index: -1;
    transform-origin: left;
    transition: transform 0.5s ease;
    transform: scaleX(1);
}

.button1:hover::before {
    transform-origin: right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
}

/*
.button1 {

    background: linear-gradient(to right, cadetblue 50%, orange 50%) ;
    background-size: 200% 100%;
    background-position: right bottom;

}

.button1:hover {
    background-size: 200% 100%;
    background-position: left bottom;
}
*/

/*




*,
*::before,
*::after {
    box-sizing: border-box;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*
.overlay .bar {
    transform: scale(1, 1) translate3d(0, 0, 0);
    transform-origin: 0 0;
}
*/

/*
 .bar {
    position: absolute;
    width: 10.1vw;
    background: #8ba3b9;
    top: 0;
    bottom: 0;
 
}
.bar {
    transform:rotateY(40deg);
    animation: rotateRight 1.5s alternate 1.5s;
  

  
@keyframes rotateRight {
   
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(70deg);
    }
    to {
        visibility: hidden;
        width: 0;
        height: 0;
        
    }
}
*/



/*
.overlay .bar:first-of-type {
    border-left: none;
}

.overlay .bar:nth-of-type(1) {
    left: 0vw;
    background: linear-gradient(to right, #8ba3b9 0%, #849bb0 100%);
    transition-delay: 0.05s;
}

.overlay .bar:nth-of-type(2) {
    left: 10vw;
    background: linear-gradient(to righ, #849bb0 0%, #849bb0 100%);
    transition-delay: 0.1s;
}

.overlay .bar:nth-of-type(3) {
    left: 20vw;
    background: linear-gradient(to right, #849bb0 0%, #7d93a7 100%);
    transition-delay: 0.15s;
}

.overlay .bar:nth-of-type(4) {
    left: 30vw;
    background: linear-gradient(to right, #7d93a7 0%, #768b9d 100%);
    transition-delay: 0.2s;
}

.overlay .bar:nth-of-type(5) {
    left: 40vw;
    background: linear-gradient(to right, #768b9d 0%, #6f8294 100%);
    transition-delay: 0.25s;
}

.overlay .bar:nth-of-type(6) {
    left: 50vw;
    background: linear-gradient(to right, #6f8294 0%, #687a8b 100%);
    transition-delay: 0.3s;
}

.overlay .bar:nth-of-type(7) {
    left: 60vw;
    background: linear-gradient(to right, #687a8b 0%, #617282 100%);
    transition-delay: 0.35s;
}

.overlay .bar:nth-of-type(8) {
    left: 70vw;
    background: linear-gradient(to right, #617282 0%, #5a6a78 100%);
    transition-delay: 0.4s;
}

.overlay .bar:nth-of-type(9) {
    left: 80vw;
    background: linear-gradient(to right, #5a6a78 0%, #53626f 100%);
    transition-delay: 0.45s;
}

.overlay .bar:nth-of-type(10) {
    left: 90vw;
    background: linear-gradient(to right, #53626f 0%, #4c5a66 100%);
    transition-delay: 0.5s;
}
*/

/*
.deliver {
    background: linear-gradient(#252525, #252525 50%, #2ecc71 50%, #2ecc71);
  background-size: 100% 200%;
 
  transition:  .6s;
}
.deliver:hover {
    background-position: 100% 100%;
}
*/

.defineBox {

    background: white;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

}

.define1 {
    background: url('../../Images/black2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    height: 150px;
    width: 350px;
    margin-left: -780px;
    margin-top: 870px;
    box-shadow: 1px 1px;
}

.developBox {
    background: white;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.develop1 {

    background: url('../../Images//techie.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    height: 150px;
    width: 350px;
    margin-top: 870px;
    box-shadow: 1px 1px;
}

.deliver {
    display: block;
    position: absolute;
    height: 150px;
    width: 350px;
    margin-left: 780px;
    margin-top: 870px;
    background: url('../../Images/messi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px;
}

.deliver1 {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;

    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}

.deliver:hover .deliver1 {
    bottom: 100%;
    height: 0;
}

.deliver:hover .box1 {
    color: white;
}

.deliver:hover .rocket {

    color: white;
}



.develop1:hover .developBox {
    bottom: 100%;
    height: 0;
}

.develop1:hover .boxDevelop {
    color: white;
}



.define1:hover .defineBox {
    bottom: 100%;
    height: 0;
}

.define1:hover .boxDefine {
    color: white;
}



.boxDefine {
    height: 70px;
    width: 70px;
    display: block;
    position: absolute;
    background-color: orange;
    margin-left: 35px;
    margin-top: 35px;
}

.define2 {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-top: 20px;
    background-size: contain;
    background-image: url('../../Images/goal.png');
}

.boxDevelop {
    height: 70px;
    width: 70px;
    background-color: orange;
    display: block;
    position: absolute;
    margin-left: 35px;
    margin-top: 35px;

}

.business {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-top: 20px;
    background-size: contain;
    background-image: url('../../Images/goal.png');
}

.box1 {
    height: 70px;
    width: 70px;
    background-color: orange;
    display: block;
    position: absolute;
    margin-left: 35px;
    margin-top: 35px;
}


.rocket {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-top: 20px;
    background-size: contain;
    background-image: url(/src/Images/startup.png);

}










.bar {
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 1rem;
    font-size: 2rem;
    color: #8ba3b9;
    text-decoration: none;
    background: white;
    border: solid #a8bacb;
    border-width: 1px 1px 0;
    transform: translateX(-50%);
    z-index: 99;

}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*
.overlay .bar {
    position: absolute;
    width: 10.1vw;
    background: #8ba3b9;
    top: 0;
    bottom: 0;
    transform: scale(0, 1) translate3d(0, 0, 0);
    transform-origin: 100% 100%;
    transition: transform 0.5s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
*/
.overlay .bar {
    position: absolute;
    width: 10.1vw;
    background: #8ba3b9;
    top: 0;
    bottom: 0;
    transform: scale(1, 1) translate3d(0, 0, 0);
    animation: transform2 ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes transform2 {
    0% {
        transform: scale(1, 1) translate3d(0, 0, 0);
        transform-origin: 100% 100%;

    }

    100% {
        transform: scale(0, 1) translate3d(0, 0, 0);
        transform-origin: 0 0;
    }


}

.overlay .bar:first-of-type {
    border-left: none;

}

.overlay .bar:nth-of-type(1) {
    left: 0vw;
    background: linear-gradient(to right, #8ba3b9 0%, #849bb0 100%);
    transition-delay: 0.05s;
}

.overlay .bar:nth-of-type(2) {
    left: 10vw;
    background: linear-gradient(to right, #849bb0 0%, #849bb0 100%);
    transition-delay: 0.1s;
}

.overlay .bar:nth-of-type(3) {
    left: 20vw;
    background: linear-gradient(to right, #849bb0 0%, #7d93a7 100%);
    transition-delay: 0.15s;
}

.overlay .bar:nth-of-type(4) {
    left: 30vw;
    background: linear-gradient(to right, #7d93a7 0%, #768b9d 100%);
    transition-delay: 0.2s;
}

.overlay .bar:nth-of-type(5) {
    left: 40vw;
    background: linear-gradient(to right, #768b9d 0%, #6f8294 100%);
    transition-delay: 0.25s;
}

.overlay .bar:nth-of-type(6) {
    left: 50vw;
    background: linear-gradient(to right, #6f8294 0%, #687a8b 100%);
    transition-delay: 0.3s;
}

.overlay .bar:nth-of-type(7) {
    left: 60vw;
    background: linear-gradient(to right, #687a8b 0%, #617282 100%);
    transition-delay: 0.35s;
}

.overlay .bar:nth-of-type(8) {
    left: 70vw;
    background: linear-gradient(to right, #617282 0%, #5a6a78 100%);
    transition-delay: 0.4s;
}

.overlay .bar:nth-of-type(9) {
    left: 80vw;
    background: linear-gradient(to right, #5a6a78 0%, #53626f 100%);
    transition-delay: 0.45s;
}

.overlay .bar:nth-of-type(10) {
    left: 90vw;
    background: linear-gradient(to right, #53626f 0%, #4c5a66 100%);
    transition-delay: 0.5s;
}







.img-about {
    background-image: url('../../Images//it1.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 550px;
    width: 430px;
    margin-top: 1800px;
    margin-left: -940px;


}

.img-about:before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left,
            rgba(255, 255, 255, 0)0%, rgba(255, 255, 255, .3)100%);
    background: -webkit-linear-gradient(to right,
            rgba(255, 255, 255, 0)0%, rgba(255, 255, 255, .3)100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.img-about:hover:before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

.img-about1 {
    background-image: url('../../Images/img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: block;
    height: 300px;
    width: 350px;
    margin-top: 2050px;
    margin-left: -420px;

}

.about-div {
    height: 150px;
    width: 300px;
    position: absolute;
    display: block;
    background-color: white;
    margin-top: 2400px;
    margin-left: -900px;
}

.img-div1 {
    height: 85px;
    width: 85px;
    background-image: url('../../Images/image-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20px;
    margin-top: 35px;

}